# Module - 1

# Data-Validation & Pre-processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = p.read_csv('demo1.csv')

In [4]:
data.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-08-08T02:53:19.071Z,61.595900,-146.301800,31.00,1.50,ml,NaN,NaN,NaN,0.9300,...,2021-08-08T02:57:01.140Z,"50 km SSE of Nelchina, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
1,2021-08-08T02:43:56.156Z,39.370000,-119.728200,2.40,1.20,ml,14.0,66.1,0.09600,0.1049,...,2021-08-08T02:48:58.055Z,"9 km NW of Virginia City, Nevada",earthquake,NaN,1.00,0.320,12.0,automatic,nn,nn
2,2021-08-08T02:41:28.900Z,35.943667,-117.728167,0.42,0.56,ml,10.0,106.0,0.06326,0.1600,...,2021-08-08T02:44:57.423Z,"16km E of Little Lake, CA",earthquake,0.35,1.41,0.122,4.0,automatic,ci,ci
3,2021-08-08T02:19:00.550Z,38.817501,-122.789833,2.98,0.35,md,10.0,108.0,0.01043,0.0200,...,2021-08-08T02:20:33.910Z,"5km NNW of The Geysers, CA",earthquake,0.41,0.98,NaN,1.0,automatic,nc,nc
4,2021-08-08T02:15:56.570Z,19.380501,-155.234161,1.69,2.15,ml,31.0,82.0,NaN,0.2600,...,2021-08-08T02:21:26.220Z,"6 km S of Volcano, Hawaii",earthquake,0.36,0.24,0.610,17.0,automatic,hv,hv

In [5]:
data.shape

(14406, 22)

In [6]:
data.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [7]:
data.isnull().sum()

time                  0
latitude              0
longitude             0
depth                 0
mag                   1
magType               1
nst                3070
gap                2022
dmin               3899
rms                   1
net                   0
id                    0
updated               0
place                 0
type                  0
horizontalError    4115
depthError            0
magError           2376
magNst             2030
status                0
locationSource        0
magSource             0
dtype: int64

# Drop the Given Dataset

In [8]:
df = data.dropna()

In [9]:
df.shape

(7024, 22)

In [10]:
df.isnull().sum()

time               0
latitude           0
longitude          0
depth              0
mag                0
magType            0
nst                0
gap                0
dmin               0
rms                0
net                0
id                 0
updated            0
place              0
type               0
horizontalError    0
depthError         0
magError           0
magNst             0
status             0
locationSource     0
magSource          0
dtype: int64

In [11]:
df.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000
mean,37.692505,-114.637031,6.231456,1.269327,16.733200,106.759539,0.080686,0.122476,0.532437,2.421886,0.182764,11.282603
std,5.624920,10.756461,6.798023,0.755753,11.938842,54.466442,0.132847,0.083172,0.767113,6.261777,0.105877,12.912647
min,17.370000,-126.269667,-3.400000,-0.900000,2.000000,15.000000,0.000113,0.000000,0.080000,0.100000,0.000000,0.000000
25%,34.532208,-119.525833,2.610000,0.710000,9.000000,71.000000,0.026167,0.070000,0.250000,0.430000,0.111000,4.000000
50%,38.501500,-117.651000,5.200000,1.170000,14.000000,92.000000,0.052600,0.100000,0.370000,0.690000,0.166793,7.000000
75%,39.428167,-110.882792,8.012500,1.760000,20.000000,125.000000,0.083390,0.160000,0.580000,1.247829,0.229000,14.000000
max,49.462167,-63.509500,147.000000,4.460000,161.000000,352.000000,2.192900,2.680000,41.660000,89.810000,1.000000,277.000000

In [12]:
df.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [13]:
df.magType.unique()

array(['ml', 'md', 'mlr'], dtype=object)

In [14]:
df.status.unique()

array(['automatic', 'reviewed'], dtype=object)

In [15]:
df.locationSource.unique()

array(['ci', 'nc', 'uw', 'pr', 'tx', 'uu', 'mb', 'se', 'nm'], dtype=object)

In [16]:
df.magSource.unique()

array(['ci', 'nc', 'uw', 'pr', 'tx', 'uu', 'mb', 'se', 'nm'], dtype=object)

In [17]:
df.net.unique()

array(['ci', 'nc', 'uw', 'pr', 'tx', 'uu', 'mb', 'se', 'nm'], dtype=object)

In [18]:
p.Categorical(df['locationSource'])

['ci', 'ci', 'ci', 'ci', 'nc', ..., 'nc', 'nc', 'ci', 'nc', 'ci']
Length: 7024
Categories (9, object): ['ci', 'mb', 'nc', 'nm', ..., 'se', 'tx', 'uu', 'uw']

In [19]:
p.Categorical(df['net']).describe()

            counts     freqs
categories
ci            1835  0.261247
mb             217  0.030894
nc            2757  0.392511
nm              19  0.002705
pr             253  0.036019
se              17  0.002420
tx             398  0.056663
uu            1251  0.178104
uw             277  0.039436

In [20]:
p.Categorical(df['magSource']).describe()

            counts     freqs
categories
ci            1835  0.261247
mb             217  0.030894
nc            2757  0.392511
nm              19  0.002705
pr             253  0.036019
se              17  0.002420
tx             398  0.056663
uu            1251  0.178104
uw             277  0.039436

In [21]:
p.Categorical(df['locationSource']).describe()

            counts     freqs
categories
ci            1835  0.261247
mb             217  0.030894
nc            2757  0.392511
nm              19  0.002705
pr             253  0.036019
se              17  0.002420
tx             398  0.056663
uu            1251  0.178104
uw             277  0.039436

In [22]:
df.gap.unique()

array([106., 129.,  50., 189., 116.,  72., 109., 104., 100., 318.,  44.,
        43.,  84.,  47.,  35.,  92.,  52., 198.,  55.,  97., 164., 176.,
       210.,  87., 125., 121., 136.,  76.,  73., 112.,  75., 195., 170.,
        63., 273., 146., 147., 160.,  64., 206.,  85.,  93., 156., 236.,
       119.,  99., 148., 249.,  66.,  41.,  56.,  68.,  81., 181.,  74.,
        90., 247., 124., 102., 115., 228., 108.,  29.,  15.,  82., 133.,
       152.,  96.,  65.,  61.,  71., 137., 178.,  67., 180., 117.,  37.,
        49.,  38., 161., 139.,  36., 135., 200., 101., 134.,  95., 217.,
        58.,  53.,  59., 114.,  78., 169., 120.,  60., 123.,  69.,  79.,
       103., 193.,  89.,  91., 186., 185.,  70.,  86.,  57., 118., 255.,
        62., 240., 194., 141., 173., 158., 302., 165., 221.,  98.,  20.,
       253.,  33., 234., 130., 149., 175., 259., 111., 235., 188., 174.,
       126.,  46., 140., 197.,  88., 122., 187., 202., 207., 168., 113.,
        54., 145., 132.,  42., 107., 199.,  83., 303.,  94., 308., 131.,
       241., 105., 144.,  32., 239., 182., 271., 157., 343.,  26., 150.,
       162.,  45., 242.,  80., 310., 250., 220., 155., 245., 209., 306.,
       281., 179., 142., 127., 166., 243.,  77., 216., 128.,  40., 196.,
       192., 110., 291., 167., 191., 311.,  34.,  48., 203., 208., 159.,
       151., 238., 177., 270., 268., 212., 143., 269.,  51., 287., 184.,
       153., 222., 272., 218., 254., 322., 190., 231.,  31.,  28.,  23.,
       257., 230., 286., 296., 163., 232., 267., 229., 154., 237., 172.,
       260., 233., 138., 335.,  18., 171., 258.,  24., 214., 295., 213.,
        39., 201.,  30., 275., 211., 256., 290., 223., 226., 244., 219.,
       227., 215., 283., 248., 224., 246., 280., 225., 282., 301., 183.,
       264., 251., 204., 330., 334., 292., 284., 332., 261., 339., 205.,
       299., 329., 297., 327.,  21., 262., 266., 274., 341., 345., 293.,
       252., 288.,  25.,  27., 314., 263., 323., 304., 279., 285., 265.,
       315., 340., 298., 277., 326.,  22., 276., 352., 313., 309., 346.,
       294., 312., 317., 328.])

In [23]:
print("Gap: ", sorted(df['gap'].unique()))

Gap:  [15.0, 18.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 168.0, 169.0, 170.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0, 258.0, 259.0, 260.0, 261.0, 262.0, 263.0, 264.0, 265.0, 266.0, 267.0, 268.0, 269.0, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0, 276.0, 277.0, 279.0, 280.0, 281.0, 282.0, 283.0, 284.0, 285.0, 286.0, 287.0, 288.0, 290.0, 291.0, 292.0, 293.0, 294.0, 295.0, 296.0, 297.0, 298.0, 299.0, 301.0, 302.0, 303.0, 304.0, 306.0, 308.0, 309.0, 310.0, 311.0, 312.0, 313.0, 314.0, 315.0, 317.0, 318.0, 322.0, 323.0, 326.0, 327.0, 328.0, 329.0, 330.0, 332.0, 334.0, 335.0, 339.0, 340.0, 341.0, 343.0, 345.0, 346.0, 352.0]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7024 entries, 2 to 14405
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             7024 non-null   object
 1   latitude         7024 non-null   float64
 2   longitude        7024 non-null   float64
 3   depth            7024 non-null   float64
 4   mag              7024 non-null   float64
 5   magType          7024 non-null   object
 6   nst              7024 non-null   float64
 7   gap              7024 non-null   float64
 8   dmin             7024 non-null   float64
 9   rms              7024 non-null   float64
 10  net              7024 non-null   object
 11  id               7024 non-null   object
 12  updated          7024 non-null   object
 13  place            7024 non-null   object
 14  type             7024 non-null   object
 15  horizontalError  7024 non-null   float64
 16  depthError       7024 non-null   float64
 17  magError         7024 non-null   float64
 18  magNst           7024 non-null   float64
 19  status           7024 non-null   object
 20  locationSource   7024 non-null   object
 21  magSource        7024 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.2+ MB

In [25]:
df.duplicated()

2        False
5        False
7        False
10       False
12       False
         ...
14398    False
14399    False
14402    False
14403    False
14405    False
Length: 7024, dtype: bool

In [26]:
sum(df.duplicated())

0

In [27]:
p.crosstab(df.horizontalError,df.depthError)

depthError,0.10,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,0.19,...,20.72,23.65,23.97,24.31,24.45,25.38,27.39,27.62,31.61,89.81
horizontalError,,,,,,,,,,,,,,,,,,,,,
0.08,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0.09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0.10,0,0,0,0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
0.11,0,0,0,1,2,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
0.12,0,1,1,0,1,2,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8.85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.77,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15.67,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41.66,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [28]:
df.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [29]:
print("Minimum value of Depth is:", df.depth.min())
print("Maximum value of Depth is:", df.depth.max())

Minimum value of Depth is: -3.4
Maximum value of Depth is: 147.0

In [30]:
print("Minimum value of Gap is:", df.gap.min())
print("Maximum value of Gap is:", df.gap.max())

Minimum value of Gap is: 15.0
Maximum value of Gap is: 352.0

In [31]:
print("Minimum value of Latitude is:", df.latitude.min())
print("Maximum value of Latitude is:", df.latitude.max())

Minimum value of Latitude is: 17.37
Maximum value of Latitude is: 49.4621666666667

In [32]:
print("Minimum value of Longitude is:", df.longitude.min())
print("Maximum value of Longitude is:", df.longitude.max())

Minimum value of Longitude is: -126.2696667
Maximum value of Longitude is: -63.5095

In [33]:
print("Minimum value of Gap is:", df.gap.min())
print("Maximum value of Gap is:", df.gap.max())

Minimum value of Gap is: 15.0
Maximum value of Gap is: 352.0

In [34]:
p.Categorical(df['magType']).describe()

            counts     freqs
categories
md            3826  0.544704
ml            3197  0.455154
mlr              1  0.000142

In [35]:
p.Categorical(df['status']).describe()

            counts    freqs
categories
automatic      650  0.09254
reviewed      6374  0.90746

In [36]:
p.Categorical(df['locationSource']).describe()

            counts     freqs
categories
ci            1835  0.261247
mb             217  0.030894
nc            2757  0.392511
nm              19  0.002705
pr             253  0.036019
se              17  0.002420
tx             398  0.056663
uu            1251  0.178104
uw             277  0.039436

In [37]:
df['mag'].value_counts()

 1.60    76
 1.80    74
 1.70    71
 1.90    56
 0.78    55
         ..
-0.29     1
-0.80     1
 3.85     1
 3.79     1
 3.32     1
Name: mag, Length: 427, dtype: int64

In [38]:
df.corr()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
latitude,1.000000,-0.598724,-0.305592,-0.275976,-0.259863,-0.151232,-0.021430,-0.128323,-0.068442,0.154938,0.190490,-0.136426
longitude,-0.598724,1.000000,0.321810,0.405425,-0.112383,0.353001,0.234504,0.286818,0.233813,0.039228,-0.008345,-0.116070
depth,-0.305592,0.321810,1.000000,0.175717,0.169903,0.120715,0.297281,0.245080,0.196181,-0.132265,-0.108082,0.066954
mag,-0.275976,0.405425,0.175717,1.000000,0.278701,-0.059357,0.289311,0.272154,0.085806,-0.014205,0.003994,0.451509
nst,-0.259863,-0.112383,0.169903,0.278701,1.000000,-0.424494,-0.049239,0.162011,-0.201232,-0.152931,-0.121654,0.618959
gap,-0.151232,0.353001,0.120715,-0.059357,-0.424494,1.000000,0.180641,-0.050134,0.377369,0.156859,0.005739,-0.266125
dmin,-0.021430,0.234504,0.297281,0.289311,-0.049239,0.180641,1.000000,0.360389,0.316601,0.191568,-0.051671,-0.010815
rms,-0.128323,0.286818,0.245080,0.272154,0.162011,-0.050134,0.360389,1.000000,0.478485,0.239340,-0.068289,0.052796
horizontalError,-0.068442,0.233813,0.196181,0.085806,-0.201232,0.377369,0.316601,0.478485,1.000000,0.262537,-0.027443,-0.144649
depthError,0.154938,0.039228,-0.132265,-0.014205,-0.152931,0.156859,0.191568,0.239340,0.262537,1.000000,0.078104,-0.090405
magError,0.190490,-0.008345,-0.108082,0.003994,-0.121654,0.005739,-0.051671,-0.068289,-0.027443,0.078104,1.000000,0.012408
magNst,-0.136426,-0.116070,0.066954,0.451509,0.618959,-0.266125,-0.010815,0.052796,-0.144649,-0.090405,0.012408,1.000000

In [39]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['magType', 'status', 'locationSource']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [40]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
2,2021-08-08T02:41:28.900Z,35.943667,-117.728167,0.42,0.56,1,10.0,106.0,0.063260,0.16,...,2021-08-08T02:44:57.423Z,"16km E of Little Lake, CA",earthquake,0.35,1.41,0.122,4.0,0,0,ci
5,2021-08-08T02:13:55.060Z,35.776833,-117.586667,7.88,1.04,1,17.0,129.0,0.039810,0.17,...,2021-08-08T02:17:31.376Z,"16km W of Searles Valley, CA",earthquake,0.38,0.77,0.156,12.0,0,0,ci
7,2021-08-08T01:57:36.060Z,33.680500,-116.730500,14.30,0.80,1,32.0,50.0,0.033480,0.15,...,2021-08-08T02:01:09.832Z,"7km S of Idyllwild, CA",earthquake,0.28,0.39,0.117,20.0,0,0,ci
10,2021-08-08T01:49:10.870Z,33.154000,-116.389167,-0.17,0.60,1,14.0,189.0,0.384600,0.26,...,2021-08-08T01:52:50.681Z,"11km S of Borrego Springs, CA",earthquake,1.84,31.61,0.205,3.0,0,0,ci
12,2021-08-08T01:34:18.050Z,38.764332,-122.710671,1.56,0.86,0,10.0,116.0,0.009697,0.04,...,2021-08-08T01:35:55.520Z,"2km SW of Anderson Springs, CA",earthquake,0.44,0.30,0.160,4.0,0,2,nc